name: Deploy to cPanel

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # We assume your FTP account is rooted to the correct folder. 
          # If not, change './' to 'test/2e2erc/'
          server-dir: ./
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            data/signups.json
            data/geo_cache.json
